.adjustment-button {
    background:transparent;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1rem;

    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
}

.adjustment-button:hover{
 box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
.adjustment-button.lined.thick{
 border:solid 3px #41403E;
}
.adjustment-button.dotted.thick{
 border:dotted 3px #41403E;
}
.adjustment-button.dashed.thick{
border:dashed 3px #41403E;
}
.adjustment-button.lined.thin{
 border:solid 2px #41403E;
}
.adjustment-button.dotted.thin{
 border:dotted 2px #41403E;
}
.adjustment-button.dashed.thin{
border:dashed 2px #41403E;
}