.container {
    min-height: 100vh;
    width: 100%;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.metronome-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    align-items: center;
    padding: 15px;
    width: 95%;
    max-width: 600px; 
    margin: auto;
    margin-top: 3%;
    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.bpm-display {
    font-size: clamp(1.8em, 4vw, 2.4em);
    text-align: center;
    margin-bottom: 5px;
}

.controls-container {
    display: flex;
    gap: 4%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.slider {
    flex: 1;
    min-width: 180px;
    max-width: 100%;
    color: gray;
}

.start-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4%;
    flex-wrap: wrap;
}

.adjustment-button {
    background-color: #333;
    color: #8b8a88;
    border: solid 2px #41403E;
    border-radius: 20px;
    min-width: 35px;
    text-align: center;
    padding: 6px;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: clamp(0.7em, 1.5vw, 0.9em);
}

.adjustment-button:hover {
    background-color: #e0e0e0;
    color: #363636;
}

.tap-button, .log-button, .start-button {
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: clamp(0.7em, 1.5vw, 0.9em);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tap-button, .log-button {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid gray;
}

.tap-button:hover, .log-button:hover {
    background-color: #d4d4d4;
}

.start-button {
    background-color: #4f555c;
    color: white;
    border: none;
}

.start-button:hover {
    background-color: #333;
}

button.history-button {
    background-color: #333;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.7em;
}

button.history-button:hover {
    background-color: #555;
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.5em;
    color: gray;
}

.footer a {
    color: rgb(199, 197, 197);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container{
        padding-top: 30%;
    }
    .metronome-container {
        width: 90%;
        padding: 10px;
        grid-gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .controls-container {
        gap: 1%;
        flex-direction: row;
        justify-content: space-between;
    }

    .slider {
        order: 1;
        width: 100%;
        /* margin: 10px 0; */
    }

    .adjustment-button {
        order: 0;
        flex: 0 1 calc(25% - 10px);
        max-width: 50px;
    }

    .start-buttons-container {
        flex-direction: row;
        gap: 5px;
    }

    .tap-button, .log-button, .start-button {
        flex: 1;
        min-width: 0;
        padding: 8px 5px;
    }
}