.container {
    height: 100%;
    width: 100%;
    padding: 5%;
    padding-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metronome-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 20px;
    max-width: 700px; 
    margin: auto;
    margin-top: 5%;
    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.bpm-display {
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 10px;
}

.controls-container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.slider {
    flex: 1;
    min-width: 300px; 
    color: gray;
}

.start-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7%;
}

.adjustment-button {
    background-color: #333;
    color: #8b8a88;
    border: solid 2px #41403E;
    border-radius: 25px;
    min-width: 50px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.adjustment-button:hover {
    background-color: #e0e0e0;
    color: #363636;
}

.tap-button, .log-button {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tap-button:hover, .log-button:hover {
    background-color: #d4d4d4;
}

.start-button {
    background-color: #4f555c;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #333;
}

button.history-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.history-button:hover {
    background-color: #555;
}

.footer {
    position: absolute;
    bottom: 2%;
    margin-top: 30px;

    text-align: center;
    font-size: small;
    color: gray;
}

.footer a {
    color: rgb(199, 197, 197);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
